<!--{% load staticfiles %}-->

<table align="center" cellpadding="0" cellspacing="0" width="600"
       style="font-family: Arial, sans-serif; border: 1px solid #cccccc;">
    <tr>
        <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; ">
            <h1>Vacations Application</h1>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                        <b>{{ header }}</b>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 15px 30px;">
                        <table cellpadding="0" cellspacing="0" width="100%"
                               style="border: 1px solid #dddddd; border-radius: 5px; table-layout: fixed;">
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    <strong>User</strong>
                                </td>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    {{ user_name }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    <strong>Total workdays</strong>
                                </td>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    {{ total_workdays }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    <strong>Kind</strong>
                                </td>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    {{ kind_name }}
                                </td>
                            </tr>
                            {% if not comment == '' %}
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    <strong>Comment</strong>
                                </td>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    {{ comment }}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    <strong>Created</strong>
                                </td>
                                <td style="padding: 10px 15px 10px 15px; border: 0">
                                    {{ date_created }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 15px 30px 40px 30px;">
                        <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #dddddd; border-radius: 5px;">
                            {% for interval, workdays in ranges %}
                            <tr>
                                <td style="padding: 10px 15px 10px 15px; border: 0; {% if not forloop.last %} border-bottom: 1px solid #dddddd {% endif %}">
                                    {{ interval }}
                                </td>
                                <td width="20px"
                                    style="padding: 10px 15px 10px 15px; border: 0; {% if not forloop.last %} border-bottom: 1px solid #dddddd {% endif %} ">
                                    <span style="color: #ffffff; text-align: center; display: inline; padding: 1px 5px 1px 5px; background: #777777; border-radius: 20px; text-decoration: none!important; font-weight: bold;">
                                        {{ workdays }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% if show_actions %}
                <tr>
                    <td bgcolor="#ffffff" style="">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                            <tr>
                                <td>
                                    <a href="{{ mng_url }}&reject-submit"
                                       style="color: #ffffff; text-align: center; display: block; margin: 0 10px 0 10px; padding: 10px 0; background: #d9534f; border-radius: 5px; text-decoration: none!important; font-weight: bold;">
                                        &#10008; Reject
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ mng_url }}"
                                       style="color: #ffffff; text-align: center; display: block; margin: 0 10px 0 10px; padding: 10px 0; background: #337ab7; border-radius: 5px; text-decoration: none!important; font-weight: bold;">
                                        &#10148; View
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ mng_url }}&accept-submit"
                                       style="color: #ffffff; text-align: center; display: block; margin: 0 10px 0 10px; padding: 10px 0; background: #5cb85c; border-radius: 5px; text-decoration: none!important; font-weight: bold;">
                                        &#10004; Accept
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#cccccc"
            style="text-align: center; color: #ffffff; padding: 20px 30px 20px 30px; font-family: Arial, sans-serif; font-size: 14px;">
            &copy; Vacations for Syncron {% now "Y" %}<br/>
        </td>
    </tr>
</table>