body {
    padding-top: 70px;
}

#calendar {
    max-width: 900px;
}

#logo-img {
    margin-top: -8px;
    width: 158px;
    height: 40px;
}

#absence-details th {
    padding-left: 15px;
}

#right-panel-header {
    margin-top: 0px;
    margin-bottom: 19px;
    text-align: center;
}

#manage_absence_list th,
#manage_absence_list td {
    border-top: 0px;
}