<style>
{% for kind in absence_kinds %}
.fc-event-container .absence-kind-{{ kind.name|slugify }}{
    color: {{ kind.text_color }};
    background-color: {{ kind.bg_color }};
    border-color: {{ kind.bg_color }};
}
/*

ul.dropdown-menu > li:nth-child({{ kind.id }}),
ul.dropdown-menu > li:nth-child({{ kind.id }}):hover,
ul.dropdown-menu > li:nth-child({{ kind.id }}).selected > a,
ul.dropdown-menu > li:nth-child({{ kind.id }}) > a span,
ul.dropdown-menu > li:nth-child({{ kind.id }}) > a:hover {
    color: {{ kind.text_color }};
    background-color: {{ kind.bg_color }};
    border-color: {{ kind.bg_color }};
}
*/

{% endfor %}
</style>
