{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Vacations Planner</title>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'planner/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'planner/css/planner.css' %}"/>
    <link rel='stylesheet' type="text/css" href="{% static 'planner/css/fullcalendar.css' %}"/>
    <link rel='stylesheet' type="text/css" media='print' href="{% static 'planner/css/fullcalendar.print.css' %}"/>
</head>

<body>

<div class="container">
    {% include 'planner/navbar.html' %}
    {% include 'planner/messages.html' %}
    {% block content %}{% endblock %}
</div>
<!-- end container -->

{% block scripts %}
<!-- javascript -->
<script src="{% static 'planner/js/jquery.min.js' %}"></script>
<script src="{% static 'planner/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block calendarDeclaration %}{% endblock %}

</body>
</html>
