{% extends "planner/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div id='calendar' style="padding-bottom: 20px"></div>
    </div>
    <div class="col-lg-3">
        {% block selected_absence_panel %}
        <h2 id="right-panel-header">Selected absence</h2>
        <form id='plan-absence' method='POST' action="{% url 'planner:plan-absence' %}">
            {% csrf_token %}
            {% include 'planner/planning_controls.html' %}
        </form>
        {% endblock %}

        <br>
        <div id='team-select'>
            <h4> Select teams you want to see on calendar: </h4>

            <form id="teams-form" action="." method="POST">
                {% csrf_token %}
                {% for field in teamsForm.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            </form>

        </div>
         <br>
        <input id="toggle-others-absences" type="checkbox" name="toggle-others-absences"/>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'planner/js/moment.min.js' %}"></script>
<script src="{% static 'planner/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'planner/js/fullcalendar.js' %}"></script>
<script src="{% static 'planner/js/selection.js' %}"></script>
<script src="{% static 'planner/js/ajaxes.js' %}"></script>
<script type="text/javascript">

    {# construct strings explicitly, because '/users/' becomes a RegExp in js....... #}
    global_user_url = new String({% url 'planner:user' %});
    global_teams_url = new String({% url 'planner:teams' %});
    global_range_url = new String({% url 'planner:range' %});
    global_holiday_url = new String({% url 'planner:holiday' %});
    global_absence_url = new String({% url 'planner:absence' %});
    global_manage_url = new String({% url 'planner:manage-absence' %});
    {% if request.user.is_authenticated %}
        global_logged_user_id = {{ request.user.id }};
        global_logged_user_name = "{{ request.user.first_name }}" + " " + "{{ request.user.last_name }}";
        global_logged_user_team_id = {{ request.user.team.id }};
    {% else %}
        global_logged_user_id = -1;
        global_logged_user_name = "";
        global_logged_user_team_id = -1;
    {% endif %}

    {% autoescape off %}
    saveUserData({{ users }});
    {% endautoescape %}


</script>
{% endblock %}

{% block calendarDeclaration %}
    <script type="text/javascript">
    $(document).ready(function() {
        display_or_hide_planning_controls();
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,weekWorkers'
            },
            eventLimit: true,
            views: {
                month: {
                    eventLimit: 2,
                    weekends: false
                },
                weekWorkers: {
                    eventLimit: false,
                    weekends: true
                }
            },
            selectable: true,  // we can select days
            selectHelper: true, // we see our selection
            unselectAuto: false, // no autoclearing selection after clickng on page(not enough though)
            unSelectCancel: '.fc-day',
            select: selectf, // our function for select
            unselect: unselectf, // our function for clearing selection
            events: {
                events: getAbsencesForCalendar
            },
            viewRender: view_render_callback,
            firstDay: 1,
        });
        $('#toggle-others-absences').bootstrapSwitch({
            state: false,
            size: 'small',
            labelText: 'show others\' absences',
            onSwitchChange: toggle_others_absences
        });

        $('#teams-form').on('click', function (event) {
            getUsersFromSelectedTeams(event);
        });

        {% for t in teams %}
            var curTeam = "#id_teams_" + ({{ t.id  }} -1);
            var a = $(curTeam);
            a.prop('checked', false);
            global_teams_selected[{{ t.id }}] = 0;
        {% endfor %}

        var curTeam = "#id_teams_" + (global_logged_user_team_id - 1);
        var a = $(curTeam);
        a.click();
    });
</script>
{% endblock %}
