{% extends "planner/base.html" %}

{% load staticfiles %}

{% block content %}
    <h1><span class="glyphicon glyphicon-calendar"></span> Vacations Planner </h1>
    <br><br>
    <div>
        <form id='plan-absence' method='POST' action='{% url 'planner:plan-absence' %}' >
            {% csrf_token %}
            <h3> Planned absence: </h3> <br>
            <ul id='absence_select'>

            </ul>
            <input type='submit' name='book-value-submit' value='plan absence' class='btn btn-primary'/>
        </form>
    </div>    
    <br><br>
    <div id='calendar'></div>
    {% comment %} TODO: remove this when we no longer need such debug output. {% endcomment %}
    <div>
        <h3> Currently booked: </h3>
        <ul id='all_ranges'>
        </ul>
    </div>

    
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'planner/js/moment.min.js' %}"></script>
    <script src="{% static 'planner/js/fullcalendar.js' %}"></script>
    <script src="{% static 'planner/js/selection.js' %}"></script>
    <script src="{% static 'planner/js/ajaxes.js' %}"></script>
{% endblock %}

{% block calendarDeclaration %}
    <script type="text/javascript"> $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            selectable: true,  // we can select days
            selectHelper: true, // we see our selection
            unselectAuto: false, // no autoclearing selection after clickng on page(not enough though)
            unSelectCancel: '.fc-day',
            select: selectf, // our function for select
            unselect: unselectf // our function for clearing selection
        })
        // action on delete range button
        $('.btn').click(function() {
            console.log("dupa");
        })
        // load users, then ranges, then display them (for now)
        // TODO: remove this displaying when showing on calendar works
        // TODO: change dates to whatever the calendar displays
        getAllUsers(function(data) {
            getAbsencesBetween('{{ month_begin }}', '{{ month_end }}', [], function(data) {
                console.debug('showing ranges');
                for (i in data) {
                    console.debug('appending range, i=' + i);
                    var uid = data[i].user_id;
                    var li = '<li>from ' + data[i].begin + ' to ' + data[i].end + ', by '
                        + g_users_by_id[uid].full_name + ' (' + g_users_by_id[uid].email + ')'
                        + '</li>';
                    $('#all_ranges').append(li);
                }
            })
        });
    }); </script>
{% endblock %}
