{% extends "planner/base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block content %}
<h1><span class="glyphicon glyphicon-calendar"></span> Vacations Planner </h1>
<p>Provide email address to login.</p>
<form class="form form-horizontal" method="post" id="loginForm">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_email" class="control-label col-sm-2 col-lg-2 ">Email address</label>
        <div class=" col-sm-10 col-lg-10 ">
            <input type="email" name="email" maxlength="255" id="id_email" class=" form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" value="submit" id="formButton">
                Login
            </button>
        </div>
    </div>
</form>
{% endblock %}
