{% extends "planner/index.html" %}

{% block selected_absence_panel %}
        <h2 style="margin-top: 0px;" align="center">Absence requests</h2>
        {% if accept_absence %}
        <div class="panel panel-default">
            <table class="table" id="absence-details">
              <tbody>
              <tr>
                <th scope="row">User</th>
                <td>{{ accept_absence.user_name }}</td>
              </tr>
              <tr>
                <th scope="row">Kind</th>
                <td>{{ accept_absence.kind_name }}</td>
              </tr>
              <tr>
                <th scope="row">Created</th>
                <td>{{ accept_absence.date_created }}</td>
              </tr>
              </tbody>
            </table>
        </div>
        {% endif %}
        <form id='plan-absence' method='GET' action="{% url 'planner:manage-absence' %}">
            {% csrf_token %}
            {% if accept_absence %}
            <input type="hidden" name="absence-id" value="{{ accept_absence.id }}"/>
            {% endif %}
            <ul id='absence_select' class="list-group" style="padding-top: 9px">
            </ul>
            {% include 'planner/planning_controls.html' %}
        </form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    global_manage_mode = true;
    {% if accept_absence %}
        {% autoescape off %}
        global_accept_absence_id = {{ accept_absence.id }};
        {% endautoescape %}
    {% endif %}
</script>
{% endblock %}

{% block calendarDeclaration %}
{{ block.super }}
<script type="text/javascript">
    {% if accept_absence %}
        {% autoescape off %}
        select_ranges_from_json({{ accept_ranges }});
        {% endautoescape %}
    {% endif %}
</script>
{% endblock %}
