{% extends "planner/index.html" %}

{# we assume this template is run from the correct manage url (/manage-absences or /my-absences) #}

{% block selected_absence_panel %}
{{ block.super }}
        <form id='manage-absence' method='GET' action="{{ request.path }}">
            <h2 id="right-panel-header">
                {% if manage_mode == "selfcare" %}Planned absences{% else %}Absence Manager{% endif %}
            </h2>
            {% if accept_absence %}
            <input type="hidden" name="absence-id" value="{{ accept_absence.id }}"/>
            <input type="hidden" name="ts" value="{{ accept_absence.modified_ts }}"/>
            {% endif %}
            {% include 'planner/management_controls.html' %}
        </form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    global_manage_mode = "{{ manage_mode }}";
    global_manage_url = "{{ request.path }}";
    {% if accept_absence %}
        {% autoescape off %}
        global_accept_absence_id = {{ accept_absence.id }};
        {% endautoescape %}
    {% endif %}
</script>
{% endblock %}

{% block calendarDeclaration %}
{{ block.super }}
<script type="text/javascript">
{% if accept_absence %}
    {% autoescape off %}
    global_accept_ranges = {{ accept_ranges }};
    {% endautoescape %}
    global_after_load_callbacks.add(select_managed_absence);
{% else %}
{% if manage_mode == "manager" %} {# allow clicking on selfcare management #}
    global_disable_selecting = true;
    {% endif %}
{% endif %}
</script>
{% endblock %}
