{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'planner:index' %}">
                <img src="{% static 'planner/img/logo3.png' %}" id="logo-img"></a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'planner:my-absences' %}"><span class="glyphicon glyphicon-tag"></span>&nbsp;My absences</a></li>
                    {% if request.user.is_teamleader %}
                    <li><a href="{% url 'planner:manage-absences' %}"><span class="glyphicon glyphicon-tags"></span>&nbsp;Team absence requests</a></li>
                    {% endif %}
                    {% if request.user.is_admin %}
                    <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-cog"></span>&nbsp;Admin</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            {% include 'planner/login_panel.html' %}
        </div>
    </div>
</nav>
