<div class="form-actions" style="text-align: center;">
    <p id="invitation_log_in_plan" hidden="hidden">
        You have to be logged in to plan absences.
    </p>

    <ul id='absence_select' class="list-group" style="text-align: left;"></ul>

    <div id="absence_other_fields" hidden="hidden">
        <div>
            <select name='absence_kind' id='planning-kind-select' class="form-control selectpicker">
                {% for kind in absence_kinds %}
                <option value="{{ kind.id }}" data-icon="glyphicon-{{ kind.icon_name }}"> <span style="background-color: #003366">{{ kind.name }}</span></option>
                {% endfor %}
            </select>
        </div>
        <div style = "padding: 20px 0 0 0;">
            <input type="text" id="planning-comment" class="form-control" name="comment" style="width: 100%" placeholder="Optional comment" maxlength="80"></input>
        </div>
    </div>

    <div id="plan_absence_button" class='btn-group btn-group-justified' hidden="hidden">
        {% if edit_absence %}
        <div class="btn-group">
            <a href="{% url 'planner:my-absences' %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Cancel</a>
        </div>
        <div class="btn-group">
            <button type='submit' name='edit-submit' class='btn btn-info'><span class="glyphicon glyphicon-save"></span> Save</button>
        </div>
        {% else %}
        <div class="btn-group">
            <button type='submit' name='book-value-submit' class='btn btn-primary'><span
                    class="glyphicon glyphicon-send"></span> Request Absence
                    <span id="absence_length" class="badge"></span>
            </button>
        </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $('.selectpicker').selectpicker();
</script>
