<div class="form-actions" id="submit_selected_days" style="text-align: center;">
    <p id="invitation_select_days" hidden="hidden">
        Select days for your absence by clicking on the calendar.
    </p>

    <p id="invitation_log_in" hidden="hidden">
        You have to be logged in to plan absences.
    </p>

    <p id="manage_invitation_log_in" hidden="hidden">
        You have to be logged in to manage absences.
    </p>

    <p id="manage_no_absences" hidden="hidden">
        No absences to manage.
    </p>

    <div id="manage_absence_list" hidden="hidden" class="list-group" style="text-align: left;">
        {% if accept_absence %}
        <div class="list-group-item">
            <span class="badge" style="margin-top: 10px;">{{ accept_absence.total_workdays }}</span>
            <h4>{{ accept_absence.user_name }}</h4>
            <table class="table pending-details-table" style="margin-bottom: 0px;">
                <tbody>
                <tr>
                    <th scope="row">Kind</th>
                    <td>{{ accept_absence.kind_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Created</th>
                    <td>{{ accept_absence.date_created }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <ul id='absence_select' class="list-group" style="text-align: left;"></ul>
    <div id="absence_other_fields" hidden="hidden">
        <select name='absence_kind' class="form-control selectpicker show-tick">
            {% for kind in absence_kinds %}
            <option value="{{ kind.id }}" data-icon="glyphicon-{{ kind.icon_name }}"> <span style="background-color: #003366">{{ kind.name }}</span></option>
            {% endfor %}
        </select>
    </div>

    <div id="manage_buttons" class='btn-group btn-group-justified' role='group' style="display: none;">
        <div class="btn-group">
            <button type='submit' name='reject-submit' class='btn btn-danger'><span class="glyphicon glyphicon-ban-circle"></span> Reject</button>
        </div>
        <div class="btn-group">
            <button type='submit' name='accept-submit' class='btn btn-success'><span class="glyphicon glyphicon-ok"></span> Accept</button>
        </div>
    </div>
    <div id="plan_absence_button" class='btn-group-justified' hidden="hidden">
        <div class="btn-group">
            <button type='submit' name='book-value-submit' class='btn btn-primary'><span class="glyphicon glyphicon-send"></span> Request Absence</button>
        </div>
    </div>
    <div id="exit_manager_mode" style="margin-top: 15px" class="btn-group btn-group-justified" hidden="hidden">
        <a href="{% url 'planner:index' %}" class="btn btn-default"><span class="glyphicon glyphicon-off"></span> Exit Manager</a>
    </div>
    <div id="manage_back_button" style="margin-top: 15px" class="btn-group btn-group-justified" hidden="hidden">
        <div class="btn-group">
            <a href="{% url 'planner:manage-absence' %}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        </div>
        <div class="btn-group">
            <a href="{% url 'planner:index' %}" class="btn btn-default"><span class="glyphicon glyphicon-off"></span> Exit Manager</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.selectpicker').selectpicker();
//    $('.selectpicker').selectpicker('setStyle', 'btn-danger');
</script>
